.tree {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.title {
    text-align: center;
}

.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.node__element {
    height: 40px;
    background-color: rgb(199, 145, 250);
    border-radius: 16px;
    min-width: 60px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
}

.node__bottom-line {
    /* height: 20px;
    width: 1px;
    background-color: #dcdcdc; */
}

.node__children {
    display: flex;
    padding: 16px;
    border-top: 1px solid #dcdcdc;
}
